html, body, div, span, p, img, strong, ol, ul, li, button { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; background: transparent; font-size:14px; color:#333; word-break:break-word;}
body *:focus {outline:2px solid yellow;}
.container {overflow:hidden; width:100%; max-width:1440px; margin:0 auto; box-sizing:border-box;}
#userInformation {width:68.75%; margin:50px auto;}
#userInformation .slick-list {overflow:visible; height:300px;}
#userInformation .slick-slide {height:300px; margin:0 15px; opacity:0.5; border:1px solid #bbbbbb; box-sizing:border-box; transition:all .3s ease-in-out;}
#userInformation .slick-slide.slick-active {opacity:1;}
#userInformation .slick-slide > div {height:100%;}
#userInformation .slick-prev, #userInformation .slick-next {width:32px; height:32px; z-index:2;}
#userInformation .slick-prev i, #userInformation .slick-next i {width:30px; height:30px; line-height:30px; background:#fff; border:1px solid #333; border-radius:30px;}
#userInformation .slick-prev:before, #userInformation .slick-next:before {line-height:10px;} 
#userInformation .slick-prev span, #userInformation .slick-next span {font-size:0; color:transparent;} 
#userInformation .slick-prev {left:-30px;}
#userInformation .slick-next {right:-30px;}
#userInformation .slick-prev:before, #userInformation .slick-next:before {color:#333;}
#userInformation .slick-prev:focus, #userInformation .slick-next:focus {outline: 2px solid yellow !important;}
#userInformation .slick-dots {bottom:-40px;}
#userInformation .slick-dots li button {position:relative; width:20px; height:20px; padding:5px;}
#userInformation .slick-dots li button:before {position:absolute; top:50%; left:50%; width:10px; height:10px; background:#ccc; border-radius:10px; opacity:1; transform:translate(-50%,-50%); content:"";}
#userInformation .slick-dots li.slick-active button:before {background:#0079fe;}
#userInformation .slick-dots li button:focus {outline:2px solid yellow;}
#userInformation .user_info {display:block; position:relative; height:calc(100% - 55px); padding:17px 24px; box-sizing:border-box;}
#userInformation .user_info .bottom_info {position:absolute; left:0; bottom:17px; padding:0 24px;}
#userInformation .name {display:table; position:relative; width:100%; height:55px; border-bottom:2px solid #bbbbbb;}
#userInformation .name i {display:none; position:absolute; top:50%; right:14px; transform:translateY(-50%);}
#userInformation .name p {display:table-cell; padding:0 24px; font-size:20px; vertical-align:middle;}
#userInformation .name.suite p:after {color:red; content:"*";}
#userInformation .user_info p, #userInformation .slick-slide .user_info a {line-height:22px;}
#userInformation .user_info .website {color:#007aff; text-decoration:underline;}

@media screen and (max-width: 1440px) { 
    #userInformation .slick-slide {margin:0 10px;}
}
@media screen and (max-width: 1024px) { 
    #userInformation {width:88.75%;}
    #userInformation .slick-slide {margin:0 5px;}
    #userInformation .user_info {padding:7px 14px;}
    #userInformation .user_info .bottom_info, #userInformation .name p {padding:0 14px;}
    #userInformation .name p {font-size:18px;}
}
@media screen and (max-width: 768px) {
    .container {padding:0 15px;}
    #userInformation {width:100%; margin-top:45px;}
    #userInformation .user_info {display:none;}
    #userInformation .user_info .bottom_info {position:relative; left:auto; bottom:auto; margin-top:90px; padding:0;}
    #userInformation .box { border:1px solid #bbb;}
    #userInformation .box + .box {margin-top:15px;}
    #userInformation .box .name {cursor: pointer;}
    #userInformation .name i {display:block;}
}